$color_text_1:#ffffff;
$color_text_2:#000000;
$color_text_3: #a8a8a8;
$color_1:rgb(92, 46, 3, 0.85);
$color_2:#5C2E03;
$color_3:#ffffff;
$color__animation: #d26500;
$slider__color:#744D29;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style:normal;
}

@font-face {
    font-family: 'Ermilov';
    src: url('../fonts/Ermilov-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BrunoAce-Regular';
    src: url('../fonts/BrunoAce-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
    font-family: 'Ermilov', serif;
    font-weight: bold;
    color: $color_text_2;
}

h3 {
    font-family: 'BrunoAce-Regular', serif;
    font-weight: normal;
    color: $slider__color;
}

p,a {
    font-family: 'Montserrat';
    font-weight: normal; 
    color: $color_text_2;
}


.container {
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 1920px;
    padding: 0;
    height:auto;
    margin: 0 auto;
    overflow: hidden;
}

.main {
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
.main__navigation {
    margin: 58px 5px 40px 0px;
    .img {
        margin: 0 8px;
    }
    .item__active {
        color: #4B24009C;
        
    }
    .main__navigation__item {
        font-size: 18px;
        font-family: 'Montserrat';
        font-weight: 400;
        a {
            text-decoration: none;    
            transition: none;     
          }
        a:hover, a:focus, a:active {
            text-decoration: none;  
            color: inherit;         
        }
    }
    @media (max-width: 450px) {
        .main__navigation__item {
            font-size: 14px;
        }
    }
}

.main__title {
    margin: 0 0 40px 110px;
    opacity: 0;
    .main__title__h1 {
        font-size: 32px;
        font-weight: 700;
    }
}
@media (max-width: 1199px) {
    .main__title {
        opacity: 1;
    }
}
.main__title__line {
    position: absolute;
    margin-left: 110px;
    top: 125px;
    .main__title__h1__line {
        position: relative;
        font-size: 32px;
        font-weight: 700;
        .main__title__hr__line {
            position: absolute;
            width: 460px;
            height: 15px;
            top: 10px;
            left: -490px;
            z-index: 1;
            margin: 0;
            border: none;
            &::before {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                background-color: $color_2;
                top:0;
                right: 0;
                z-index: 1000;
                border-radius: 50%;
            }
            &::after {
                background-color: $color_2;
                content: "";
                position: absolute;
                width: 460px;
                height: 4px;
                top: 5px;
            }
        }
    }
}

@media (max-width: 1199px) {
    .main__title__line {
        display: none;
    }
}

@media (max-width: 450px) {
    .main__title {
        margin: 0;
        .main__title__h1 {
            font-size: 26px;
            font-weight: 700;
            text-align: center;
        }
    }
}

.banner__about {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    height: auto;
    padding: 0 5px;
    .page__top__slider {
        margin-bottom: 15px;
        max-height: 530px;
        width: 100%;
        max-width: 1200px;
        .slider_main__item {
            overflow: hidden;
            width: 100%;
            height: 100%;
            max-height: 430px;
            justify-content: center;
            align-items: center;
            .img {
                object-fit: cover;
                width: 100%;
                height: auto;
            }
        }
        .slider-nav {
            display: flex; 
            align-items: center;
            justify-content: center; 
            width: 100%;
            padding: 10px 5px 0 20px;
            .slider_nav__item {
                padding: 10px;
                height: 110px;
                display: flex;
                justify-content: center;
                align-items: center;

                .img {
                    height: auto;
                    width: 160px;
                    margin-right: 10px;
                    object-fit: cover;
                    cursor: pointer;    
                    transition: all 0.3s ease;
                    object-fit: cover;
                }
                @media (max-width: 992px) {
                    .img {
                        width: 120px;
                    }
                }
                @media (max-width: 768px) {
                    .img {
                        width: 85px;
                    }
                }
                @media (max-width: 576px) {
                    .img {
                        width: 65px;
                    }
                }
                @media (max-width: 450px) {
                    .img {
                        width: 50px;
                    }
                }
                @media (max-width: 350px) {
                    .img {
                        width: 45px;
                    }
                }
            }
            @media (max-width: 992px) {
                .slider_nav__item {
                    height: 95px;
                }
            }
            @media (max-width: 768px) {
                .slider_nav__item {
                    height: 65px;
                }
            }
            @media (max-width: 576px) {
                .slider_nav__item {
                    height: 45px;
                }
            }
            
        }
        @media (max-width: 768px) {
            .slider-nav {
                padding: 0px 5px 0 20px;
            }
        }
    }
}

.about__text {
    padding: 0 5px;
    font-family: 'Montserrat';
    margin: 90px 0 15px 0;
    width: 100%;
    height: auto;
    .about__text__title {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .text {
        word-wrap:break-word;
        white-space: pre-wrap; 
        font-family: 'Montserrat';
        font-size: 18px;
        background-color: $color_3!important;
        width: 100%;
        color: #000000;
        border: none;
        padding: 0;
    }
}
@media (max-width: 992px) {
    .about__text {
        margin: 60px 0 15px 0;
        .text {
            font-size: 16px;
        } 
    }
}
@media (max-width: 768px) {
    .about__text {
        margin: 45px 0 15px 0;
        .about__text__title {
            font-size: 20px;
        }
    }
}
@media (max-width: 576px) {
    .about__text {
        margin: 30px 0 15px 0;
        .text {
            font-size: 14px;
        }
        .about__text__title {
            font-size: 18px;
        }
    }
}

@media (max-width: 450px) {
    .about__text {
        .text {
            font-size: 12px;
        }
        .about__text__title {
            font-size: 16px;
        }
    }
}

.slick-list  {
    width: 100%;
}
.slider-nav .slick-slide {
    width: 100%;
    display: flex;
    justify-content: center;
}
.slider-nav .slick-current .img {
    opacity: 0.7;
    transform: scale(1.1); /* Увеличение активной миниатюры */
    position: absolute;
    border: 2px solid #000000;
}
.slider-main__prev,
.slider-main__next {
    position: absolute;
    background-color: mix(#a7a7a7, transparent, 20%);
    width: 40px;
    height: 40px;
    background-size:cover ;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 5;
    &:hover {
        background-color: mix(#a7a7a7, transparent, 70%);
    }
}
@media (max-width: 450px) {
    .slider-main__prev,
    .slider-main__next { 
        width: 30px;
        height: 30px;
    }
}
.slider-main__prev {
    top: 50%;
    left: 30px;
}
.slider-main__next {
    top: 50%;
    right: 30px;
}


.main__title__item_2 {
    margin: 150px 0 30px 110px;
    opacity: 0;
    .main__title__h1__item_2 {
        font-size: 32px;
        font-weight: 700;
    }
}
@media (max-width: 1199px) {
    .main__title__item_2 {
        opacity: 1;
    }
}
@media (max-width: 450px) {
    .main__title__item_2 {
        margin: 40px 0 20px 0px;
        .main__title__h1__item_2 {
            font-size: 26px;
            font-weight: 700;
            text-align: center;
        }
    }
}
.main__title__line__item_2 {
    position: absolute;
    margin-left: 110px;
    top: 1540px;
    .main__title__h1__line__item_2 {
        position: relative;
        font-size: 32px;
        font-weight: 700;
        .main__title__hr__line__item_2 {
            position: absolute;
            width: 460px;
            height: 15px;
            top: 10px;
            left: -490px;
            z-index: 1;
            margin: 0;
            border: none;
            &::before {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                background-color: $color_2;
                top:0;
                right: 0;
                z-index: 1000;
                border-radius: 50%;
            }
            &::after {
                background-color: $color_2;
                content: "";
                position: absolute;
                width: 460px;
                height: 4px;
                top: 5px;
            }
        }
    }
}
@media (max-width: 1199px) {
    .main__title__line__item_2 {
        display: none;
    }
}


.speakers__container{
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    z-index: 10;
    .speakers__prev,
    .speakers__next {
        width: 20px;
        height: 22px;
        margin: auto 0;
    }
}

.speakers__content__it {
    display: flex;
    height: auto;
}
.speakers__content {
    position: relative;
    height: 255px;
    width: 100%;
    max-width: 1100px;
    .speakers__img {
        display: flex;
        width: 255px;
        height: 255px;
        position: absolute;
        float: left;
    }
    
    .speakers__text {
        padding: 10px;
        margin: 35px 0 0 80px;
        max-width: 1020px;
        width: 100%;
        height: auto;
        color:$color_text_1;
        background-color: $slider__color;
        
        .text__title {
            margin:0 15px 0 190px;
            font-size: 22px;
            font-weight: 700;
            color:$color_text_1;
        }

        .text__paragraph {
            color:$color_text_1;    
            font-size: 16px;
            font-weight: 400;
            margin: 10px 0 22px 190px;

        }
        @media (max-width: 1199px) {
            .text__paragraph {
                font-size: 15px;
            }
        }
        @media (max-width: 992px) {
            .text__paragraph {
                font-size: 14px;
            }
            .text__title {
                font-size: 18px;
                margin:0 10px 0 190px;
            }
        }
        @media (max-width: 768px) {
            .text__paragraph {
                font-size: 13px;
                margin: 5px 0 02px 190px;
            }
        }
    }
    @media (max-width: 768px) {
        .speakers__text {
            height: 220px;
            margin: 20px 0 0 80px;
            overflow: scroll;
        }
    }
    @media (max-width: 450px) {
        .speakers__text {
            height: 220px;
            margin: 20px 0 0 80px;
            overflow: scroll;
        }
    }


    @media (max-width: 576px) {
        .speakers__text {
            padding: 0px;
            width: 100%;
            margin: 0;
            height: 140px;
            margin-top: 20px;
            .text__title {
                margin:0 5px 0 110px;
            }
            .text__paragraph {
                overflow: hidden;
                margin:0 5px 0 110px;
                font-size: 9px;
            }
        }
        .speakers__img {
            width:100px;
            height: 100px;
            top: 40px;
            left: 50;
            .image {
                width: 100px;
                height: auto;
            }
        }
    }
    @media (max-width: 400px) {
        .speakers__img {
            margin: 20px 0;
            width: 70px;
            height: 70px;
            .image {
                width: 70px;
                height: 70px;
            }
        }
        .speakers__text {
            .text__title {
                margin:0 15px 5px 80px;
                font-size: 12px;
            }
            .text__paragraph {
                margin:0 0px 0 80px;
                font-size: 7px;
            }
        }
    }
}

@media (max-width: 576px) {
    .speakers__content {
        height: auto;
    }
}
.speakers__container .slick-slide {
    opacity: 0;  
    transition: opacity 0.3s ease-in-out;  
}
.speakers__container .slick-active {
    opacity: 1; 
}
.container__speakers__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .speakers__button {
        margin: 20px 0 60px 0;
        background-color: $color_2;
        width: 260px;
        height: 45px;
    
        .speakers__button__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 45px;
        text-decoration: none;
        text-transform: uppercase;
        color: $color_text_1;
        font-family: 'Ermilov', serif;
        font-size: 16px;
        font-weight: 700;
        transition: all linear 0.3s;
            &:hover {
                text-decoration: none;
                background-color: $color__animation;
            }
        }
    }
}

.main__title__item_3 {
    margin: 0px 0 80px 110px;
    opacity: 0;
    .main__title__h1__item_3 {
        margin: 0px;
        font-size: 32px;
        font-weight: 700;
    }
}
@media (max-width: 1199px) {
    .main__title__item_3 {
        opacity: 1;
    }
}
@media (max-width: 450px) {
    .main__title__item_3 {
        margin: 0px 0 50px 0px;
        .main__title__h1__item_3 {
            font-size: 26px;
            font-weight: 700;
            text-align: center;
        }
    }
}


.main__title__line__item_3 {
    position: absolute;
    margin-left: 110px;
    top: 1984px;
    .main__title__h1__line__item_3 {
        position: relative;
        font-size: 32px;
        font-weight: 700;
        .main__title__hr__line__item_3 {
            position: absolute;
            width: 460px;
            height: 15px;
            top: 10px;
            left: -490px;
            z-index: 1;
            margin: 0;
            border: none;
            &::before {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                background-color: $color_2;
                top:0;
                right: 0;
                z-index: 1000;
                border-radius: 50%;
            }
            &::after {
                background-color: $color_2;
                content: "";
                position: absolute;
                width: 460px;
                height: 4px;
                top: 5px;
            }
        }
    }
}
@media (max-width: 1199px) {
    .main__title__line__item_3 {
        display: none;
    }
}


.banner__achievement {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
    background-color: #ffffff;
}
.achievement {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    .achievement__item:nth-child(2) {
        border-left: 2px solid black;
        border-right: 2px solid black;
    }
    .achievement__item:nth-child(3){
        border-right: 2px solid black;
    }
    @media (max-width:450px) {
        .achievement__item:nth-child(2) {
            border-left: 1px solid black;
            border-right: 1px solid black;
        }
        .achievement__item:nth-child(3){
            border-right: 1px solid black;
        }
    }

    .achievement__item{  
        padding: 0 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr;

        .achievement__item__title {
            font-size: 40px;
            font-weight: 400;
            text-align: center;
            margin: 0 0 20px 0;
        }
        @media (max-width:768px) {
            .achievement__item__title {
                font-size: 36px;
            }
        }
        @media (max-width:576px) {
            .achievement__item__title {
                font-size: 30px;
                margin: 0 0 10px 0;
            }
        }
        @media (max-width:450px) {
            .achievement__item__title {
                font-size: 20px;
            }
        }
        .achievement__item__paragraph {
            margin: 0 auto;
            max-width: 200px;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
        }
        @media (max-width:768px) {
            .achievement__item__paragraph {
                font-size: 16px;
            }
        }
        @media (max-width:576px) {
            .achievement__item__paragraph {
                font-size: 14px;
            }
        }
        @media (max-width:450px) {
            .achievement__item__paragraph {
                font-size: 8px;
            }
        }
    }
    @media (max-width:450px) {
        .achievement__item {
            padding: 0px;
        }
    }
}

.main__title__item_4 {
    margin: 90px 0 80px 0;
    opacity: 0;
    .main__title__h1__item_4 {
        text-align: center;
        margin: 0px;
        font-size: 32px;
        font-weight: 700;
    }
}
@media (max-width: 1199px) {
    .main__title__item_4 {
        opacity: 1;
    }
}
@media (max-width: 450px) {
    .main__title__item_4 {
        margin: 50px 0 50px 0px;
        .main__title__h1__item_4 {
            font-size: 26px;
            font-weight: 700;
            text-align: center;
        }
    }
}


.main__title__line__item_4 {
    position: absolute;
    top: 2304px;
    .main__title__h1__line__item_4 {
        text-align: center;
        position: relative;
        font-size: 32px;
        font-weight: 700;
        transform: translateX(108%);
            .main__title__hr__line__item_4 {
                position: absolute;
                width: 860px;
                height: 15px;
                top: 10px;
                left: -900px;
                z-index: 1;
                margin: 0;
                border: none;
                &::before {
                    position: absolute;
                    content: "";
                    width: 15px;
                    height: 15px;
                    background-color: $color_2;
                    top:0;
                    right: 0;
                    z-index: 10;
                    border-radius: 50%;
                }
                &::after {
                    background-color: $color_2;
                    content: "";
                    position: absolute;
                    width: 860px;
                    height: 4px;
                    top: 5px;
                    left: 0;
                }
            }
            .main__title__hr__line__item_5 {
                position: absolute;
                width: 860px;
                height: 15px;
                top: 10px;
                right: -900px;
                z-index: 1;
                margin: 0;
                border: none;
                &::before {
                    position: absolute;
                    content: "";
                    width: 15px;
                    height: 15px;
                    background-color: $color_2;
                    top:0;
                    left: 0;
                    z-index: 10;
                    border-radius: 50%;
                }
                &::after {
                    background-color: $color_2;
                    content: "";
                    position: absolute;
                    width: 860px;
                    height: 4px;
                    top: 5px;
                    right: 0;
                }
            }
    }
}
@media (max-width: 1199px) {
    .main__title__line__item_4 {
        display: none;
    }
}


.section__authorization {
    justify-content: center;
    max-width: 350px;
    width: 100%;
    margin: 40px auto 90px auto;

    .authorization__form__1 input:focus, 
    .authorization__form__2 input:focus, 
    .authorization__form__3 input:focus{
        outline: none;
    }

    .authorization__form__1 input, 
    .authorization__form__2 input, 
    .authorization__form__3 input{
        max-width: 350px;
        width: 100%;
        font-family: 'Roboto'!important;
        font-weight: 300;
        font-size: 16px;
        padding: 20px 0 10px 20px;
    }
    @media (max-width: 450px) {
        .authorization__form__1 input, 
        .authorization__form__2 input, 
        .authorization__form__3 input{
            font-size: 12px;
            padding: 8px 0 4px 10px;
        }
    }

    .authorization_hr {
        border: 1px solid black;
        width: 100%;
        margin: 0;
        background-color: $color_text_2;
    }

    .authorization__button {
        width: 100%;
        height: 45px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 35px;
        background-color: $color_2;
        color: $color_text_1;
        font-size: 16px;
        font-weight: 700;
        font-family: 'Ermilov', serif;
    }
    @media (max-width: 450px) {
        .authorization__button {
            font-size: 12px;
            margin-top: 20px;
        }
    }
}
@media (max-width: 450px) {
    .section__authorization {
        width: 80%;
    }
}


.footer {
    padding: 40px;
    width: 100%;
    height: 290px;
    background-color: $color_text_2;
    color: $color_text_1;
    z-index: -5; 
    

    .footer-container {
        justify-content: space-around;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 0.7fr 1.8fr;
        grid-template-rows: 1fr;
        
    }
    @media (max-width: 768px) {
        .footer-container{
            grid-template-columns: 1fr 0.7fr 1fr;
            grid-template-rows: 1fr;
        }
    }
    @media (max-width: 576px) {
        .footer-container{
            grid-template-columns: auto auto auto;
            grid-template-rows: 1fr;
        }
    }


.footer__title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $color_text_1;
}
@media (max-width: 576px) {
    .footer__title {
        font-size: 10px;
    }
}

.footer__contact {
    .contact {
        width: auto;
    }
    @media (max-width: 576px) {
        .contact {
            width: 125px;
        }
    }
    .contact__item-1 {
        display: grid;
        grid-template-columns: 0.15fr 0.3fr;
        grid-template-rows: 1fr;
        .img {
            width: 25px;
            height: auto;
        }
        .item__text {
            font-family: 'Roboto'!important;
            width: 150px;
            height: 20px;
            margin-left: 15px;
            grid-column: 2/3;
            line-height: 25px;
            font-size: 16px;
            font-weight: 300;
            color: $color_text_3;
        }
        @media (max-width: 576px) {
            .item__text {
                font-size: 9px;
                margin-bottom: 0;
            }
            .img {
                width: 15px;
            }
        }
    }
    .contact__item-2 {
        display: flex;
        margin-top: 25px;
        .img {
            width: 25px;
            height: auto;
            margin: auto 0;
        }
        .item__text {
            font-family: 'Roboto'!important;
            margin-left: 15px;
            width: 200px;
            height: 20px;
            line-height: 28px;
            font-size: 16px;
            font-weight: 300;
            color: $color_text_3;
        }
        @media (max-width: 576px) {
            .item__text {
                font-size: 9px;
                margin-bottom: 0;
            }
            .img {
                width: 15px;
            }
        }
    }     
        .contact__item-3 {
        display: flex;
        margin-top: 14px;
        .img {
            width: 25px;
            height: auto;
            margin: auto 0;
        }
        .item__text {
            font-family: 'Roboto'!important;
            margin-left: 15px;
            width: 200px;
            height: 20px;
            line-height: 21px;
            font-size: 16px;
            font-weight: 300;
            color: $color_text_3;
        }
        @media (max-width: 576px) {
            .item__text {
                font-size: 9px;
                margin-bottom: 0;
                width: a;
            }
            .img {
                width: 15px;
            }
        }
    } 
}



.navbar {
    .nav__item {
        text-decoration: none;
        color: $color_text_3;

        .navbar__item {
            margin: 14px 0 14px 0;
            list-style-type: none;
            font-size: 18px;
            font-weight: 400;
            font-family: 'Roboto'!important;
        }
        @media (max-width: 576px) {
            .navbar__item {
                margin: 0 0 10px 0;
                list-style-type: none;
                font-size: 10px;
                font-weight: 400;
            }
        }
    }
}
.footer__social{
    margin-left: 20px;
    display: grid;
    grid-template-rows: 0.4fr 0.3fr 1fr;
    grid-template-columns: 0.8fr 1fr ;
}
@media (max-width: 576px) {
    .footer__social{
        margin-left: 10px;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}
    .social__image {
        display: flex;
        justify-content: space-between;
        max-width: 190px;
        width: 100%;
        .image__item{
            position: relative;
            margin: 10px;
            border-radius: 50%;
            text-decoration: none;
        }
    }
    @media (max-width: 425px) {
        .social__image {
            .image__item {
                margin: 0;
                img {
                    width:15px;
                    height:15px;
                }
            }
        }
    }

    .logo{
        justify-self: right;
        grid-column: 2/3;
        grid-row: 1/2;
        width: 136px;
        height: 136px;
        background-color: $color_3;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .img {
            margin: auto auto;
            width: 95px;
            height: 95px;
            transition: all 0.3s;
            
        }   
    }
    @media (max-width: 768px) {
        .logo {
            margin-top: 20px;
            width: 80px;
            height: 80px;
            grid-column: 1/2;
            grid-row: 2/3;
            justify-self: center;
            .img {
                width: 60px;
                height: 60px;
            }
        }
    }
}
@media (max-width: 576px) {
    .footer{
        height: auto;
        padding: 10px;
    }
}
@media (max-width: 350px) {
    .footer{
        height: auto;
        padding: 3px;
    }
}