@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ermilov";
  src: url("../fonts/Ermilov-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BrunoAce-Regular";
  src: url("../fonts/BrunoAce-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1, h2 {
  font-family: "Ermilov", serif;
  font-weight: bold;
  color: #000000;
}

h3 {
  font-family: "BrunoAce-Regular", serif;
  font-weight: normal;
  color: #744D29;
}

p, a {
  font-family: "Montserrat";
  font-weight: normal;
  color: #000000;
}

.container {
  position: relative;
  padding: 20px;
  width: 100%;
  max-width: 1920px;
  padding: 0;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.main {
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}

.main__title {
  margin-left: 110px;
  opacity: 0;
}
.main__title .main__title__h1 {
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .main__title {
    opacity: 1;
  }
}
.main__title__line {
  position: absolute;
  margin-left: 110px;
  top: 20px;
}
.main__title__line .main__title__h1__line {
  position: relative;
  font-size: 32px;
  font-weight: 700;
}
.main__title__line .main__title__h1__line .main__title__hr__line {
  position: absolute;
  width: 460px;
  height: 15px;
  top: 10px;
  left: -490px;
  z-index: 1;
  margin: 0;
  border: none;
}
.main__title__line .main__title__h1__line .main__title__hr__line::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #5C2E03;
  top: 0;
  right: 0;
  z-index: 1000;
  border-radius: 50%;
}
.main__title__line .main__title__h1__line .main__title__hr__line::after {
  background-color: #5C2E03;
  content: "";
  position: absolute;
  width: 460px;
  height: 4px;
  top: 5px;
}

@media (max-width: 1199px) {
  .main__title__line {
    display: none;
  }
}
@media (max-width: 450px) {
  .main__title {
    margin: 0;
  }
  .main__title .main__title__h1 {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
  }
}
.banner__about {
  width: 100%;
}
.banner__about .about__page__top {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
}
.banner__about .about__page__top .page__top .page__top__item {
  font-size: 18px;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .banner__about .about__page__top .page__top .page__top__item {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .banner__about .about__page__top .page__top .page__top__item:nth-child(2) {
    font-size: 14px;
    margin-bottom: 0px;
  }
}
@media (max-width: 768px) {
  .banner__about .about__page__top .page__top .page__top__item, .banner__about .about__page__top .page__top .page__top__item:nth-child(2) {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .banner__about .about__page__top .page__top .page__top__item, .banner__about .about__page__top .page__top .page__top__item:nth-child(2) {
    font-size: 10px;
  }
}
@media (max-width: 450px) {
  .banner__about .about__page__top .page__top .page__top__item, .banner__about .about__page__top .page__top .page__top__item:nth-child(2) {
    font-size: 8px;
    margin-bottom: 10px;
  }
}
.banner__about .about__page__top .page__top__slider {
  width: 100%;
  max-width: 450px;
  margin-right: 10px;
  margin: 0 auto;
}
.banner__about .about__page__top .page__top__slider .slider-nav__item {
  display: flex;
  gap: 10px;
}
.banner__about .about__page__top .page__top__slider .slider-main {
  margin-bottom: 15px;
}
.banner__about .about__page__top .page__top__slider .slider-main .slider-main__item {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
}
.banner__about .about__page__top .page__top__slider .slider-main .slider-main__item img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Заполняет блок с сохранением пропорций */
}
.banner__about .about__page__top .page__top__slider .slider-main .slider-main__prev,
.banner__about .about__page__top .page__top__slider .slider-main .slider-main__next {
  position: absolute;
  background-color: rgba(167, 167, 167, 0.2);
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 5;
}
.banner__about .about__page__top .page__top__slider .slider-main .slider-main__prev:hover,
.banner__about .about__page__top .page__top__slider .slider-main .slider-main__next:hover {
  background-color: rgba(167, 167, 167, 0.7);
}
.banner__about .about__page__top .page__top__slider .slider-main .slider-main__prev {
  top: 50%;
  left: -30px;
}
.banner__about .about__page__top .page__top__slider .slider-main .slider-main__next {
  top: 50%;
  right: -30px;
}
.banner__about .about__page__top .page__top__slider .slider-nav .slider-nav {
  background-color: #000000;
  display: flex; /* Выравниваем миниатюры в ряд */
  justify-content: center; /* Центрируем миниатюры */
  margin-top: 15px;
  overflow: hidden; /* Запрещаем выход элементов за пределы контейнера */
}
.banner__about .about__page__top .page__top__slider .slider-nav img {
  width: 100px;
  height: auto;
}
.banner__about .about__page__top .page__top__slider .slider-nav img {
  width: 106px; /* Размер миниатюры */
  height: auto;
  cursor: pointer;
  opacity: 0.6; /* Неактивная миниатюра */
  border: 2px solid transparent; /* Нет обводки для неактивных */
  transition: all 0.3s ease;
}
@media (max-width: 992px) {
  .banner__about .about__page__top .page__top__slider .slider-nav img {
    width: 85px;
  }
}
@media (max-width: 768px) {
  .banner__about .about__page__top .page__top__slider .slider-nav img {
    width: 60px;
  }
}
@media (max-width: 576px) {
  .banner__about .about__page__top .page__top__slider .slider-nav img {
    width: 60px;
  }
}
.banner__about .about__page__top .page__top__slider .slider-nav .slick-current img {
  opacity: 1; /* Активная миниатюра полностью видна */
  transform: scale(1.1); /* Увеличение активной миниатюры */
  position: absolute;
}
@media (max-width: 992px) {
  .banner__about .about__page__top .page__top__slider {
    width: 350px;
  }
}
@media (max-width: 768px) {
  .banner__about .about__page__top .page__top__slider {
    width: 250px;
  }
}
@media (max-width: 576px) {
  .banner__about .about__page__top .page__top__slider {
    width: 270px;
    grid-row: 1/2;
  }
}
@media (max-width: 992px) {
  .banner__about .about__page__top {
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .banner__about .about__page__top {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
  }
}
.banner__about .about__page__bottom .page__bottom__item {
  font-size: 18px;
  margin-top: 20px;
}
@media (max-width: 992px) {
  .banner__about .about__page__bottom .page__bottom__item {
    font-size: 14px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .banner__about .about__page__bottom .page__bottom__item {
    font-size: 12px;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .banner__about .about__page__bottom .page__bottom__item {
    font-size: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 450px) {
  .banner__about .about__page__bottom .page__bottom__item {
    font-size: 8px;
    margin-bottom: 10px;
  }
}

.main__title__item_2 {
  margin: 150px 0 30px 110px;
  opacity: 0;
}
.main__title__item_2 .main__title__h1__item_2 {
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .main__title__item_2 {
    opacity: 1;
  }
}
@media (max-width: 450px) {
  .main__title__item_2 {
    margin: 40px 0 20px 0px;
  }
  .main__title__item_2 .main__title__h1__item_2 {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
  }
}
.main__title__line__item_2 {
  position: absolute;
  margin-left: 110px;
  top: 752px;
}
.main__title__line__item_2 .main__title__h1__line__item_2 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
}
.main__title__line__item_2 .main__title__h1__line__item_2 .main__title__hr__line__item_2 {
  position: absolute;
  width: 460px;
  height: 15px;
  top: 10px;
  left: -490px;
  z-index: 1;
  margin: 0;
  border: none;
}
.main__title__line__item_2 .main__title__h1__line__item_2 .main__title__hr__line__item_2::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #5C2E03;
  top: 0;
  right: 0;
  z-index: 1000;
  border-radius: 50%;
}
.main__title__line__item_2 .main__title__h1__line__item_2 .main__title__hr__line__item_2::after {
  background-color: #5C2E03;
  content: "";
  position: absolute;
  width: 460px;
  height: 4px;
  top: 5px;
}

@media (max-width: 1199px) {
  .main__title__line__item_2 {
    display: none;
  }
}
.speakers__container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  z-index: 10;
}
.speakers__container .speakers__prev,
.speakers__container .speakers__next {
  width: 20px;
  height: 22px;
  margin: auto 0;
}

.speakers__content__it {
  display: flex;
  height: auto;
}

.speakers__content {
  position: relative;
  height: 255px;
  width: 100%;
  max-width: 1100px;
}
.speakers__content .speakers__img {
  display: flex;
  width: 255px;
  height: 255px;
  position: absolute;
  float: left;
}
.speakers__content .speakers__text {
  padding: 10px;
  margin: 35px 0 0 80px;
  max-width: 1020px;
  width: 100%;
  height: auto;
  color: #ffffff;
  background-color: #744D29;
}
.speakers__content .speakers__text .text__title {
  margin: 0 15px 0 190px;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
}
.speakers__content .speakers__text .text__paragraph {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0 22px 190px;
}
@media (max-width: 1199px) {
  .speakers__content .speakers__text .text__paragraph {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .speakers__content .speakers__text .text__paragraph {
    font-size: 14px;
  }
  .speakers__content .speakers__text .text__title {
    font-size: 18px;
    margin: 0 10px 0 190px;
  }
}
@media (max-width: 768px) {
  .speakers__content .speakers__text .text__paragraph {
    font-size: 13px;
    margin: 5px 0 2px 190px;
  }
}
@media (max-width: 768px) {
  .speakers__content .speakers__text {
    height: 220px;
    margin: 20px 0 0 80px;
    overflow: scroll;
  }
}
@media (max-width: 450px) {
  .speakers__content .speakers__text {
    height: 220px;
    margin: 20px 0 0 80px;
    overflow: scroll;
  }
}
@media (max-width: 576px) {
  .speakers__content .speakers__text {
    padding: 0px;
    width: 100%;
    margin: 0;
    height: 140px;
    margin-top: 20px;
  }
  .speakers__content .speakers__text .text__title {
    margin: 0 5px 0 110px;
  }
  .speakers__content .speakers__text .text__paragraph {
    overflow: hidden;
    margin: 0 5px 0 110px;
    font-size: 9px;
  }
  .speakers__content .speakers__img {
    width: 100px;
    height: 100px;
    top: 40px;
    left: 50;
  }
  .speakers__content .speakers__img .image {
    width: 100px;
    height: auto;
  }
}
@media (max-width: 400px) {
  .speakers__content .speakers__img {
    margin: 20px 0;
    width: 70px;
    height: 70px;
  }
  .speakers__content .speakers__img .image {
    width: 70px;
    height: 70px;
  }
  .speakers__content .speakers__text .text__title {
    margin: 0 15px 5px 80px;
    font-size: 12px;
  }
  .speakers__content .speakers__text .text__paragraph {
    margin: 0 0px 0 80px;
    font-size: 7px;
  }
}

@media (max-width: 576px) {
  .speakers__content {
    height: auto;
  }
}
.speakers__container .slick-slide {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.speakers__container .slick-active {
  opacity: 1;
}

.container__speakers__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.container__speakers__button .speakers__button {
  margin: 20px 0 60px 0;
  background-color: #5C2E03;
  width: 260px;
  height: 45px;
}
.container__speakers__button .speakers__button .speakers__button__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 45px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Ermilov", serif;
  font-size: 16px;
  font-weight: 700;
  transition: all linear 0.3s;
}
.container__speakers__button .speakers__button .speakers__button__link:hover {
  text-decoration: none;
  background-color: #d26500;
}

.main__title__item_3 {
  margin: 0px 0 80px 110px;
  opacity: 0;
}
.main__title__item_3 .main__title__h1__item_3 {
  margin: 0px;
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .main__title__item_3 {
    opacity: 1;
  }
}
@media (max-width: 450px) {
  .main__title__item_3 {
    margin: 0px 0 50px 0px;
  }
  .main__title__item_3 .main__title__h1__item_3 {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
  }
}
.main__title__line__item_3 {
  position: absolute;
  margin-left: 110px;
  top: 1196px;
}
.main__title__line__item_3 .main__title__h1__line__item_3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
}
.main__title__line__item_3 .main__title__h1__line__item_3 .main__title__hr__line__item_3 {
  position: absolute;
  width: 460px;
  height: 15px;
  top: 10px;
  left: -490px;
  z-index: 1;
  margin: 0;
  border: none;
}
.main__title__line__item_3 .main__title__h1__line__item_3 .main__title__hr__line__item_3::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #5C2E03;
  top: 0;
  right: 0;
  z-index: 1000;
  border-radius: 50%;
}
.main__title__line__item_3 .main__title__h1__line__item_3 .main__title__hr__line__item_3::after {
  background-color: #5C2E03;
  content: "";
  position: absolute;
  width: 460px;
  height: 4px;
  top: 5px;
}

@media (max-width: 1199px) {
  .main__title__line__item_3 {
    display: none;
  }
}
.banner__achievement {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: center;
  background-color: #ffffff;
}

.achievement {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.achievement .achievement__item:nth-child(2) {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.achievement .achievement__item:nth-child(3) {
  border-right: 2px solid black;
}
@media (max-width: 450px) {
  .achievement .achievement__item:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .achievement .achievement__item:nth-child(3) {
    border-right: 1px solid black;
  }
}
.achievement .achievement__item {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr;
}
.achievement .achievement__item .achievement__item__title {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 20px 0;
}
@media (max-width: 768px) {
  .achievement .achievement__item .achievement__item__title {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .achievement .achievement__item .achievement__item__title {
    font-size: 30px;
    margin: 0 0 10px 0;
  }
}
@media (max-width: 450px) {
  .achievement .achievement__item .achievement__item__title {
    font-size: 20px;
  }
}
.achievement .achievement__item .achievement__item__paragraph {
  margin: 0 auto;
  max-width: 200px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 768px) {
  .achievement .achievement__item .achievement__item__paragraph {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .achievement .achievement__item .achievement__item__paragraph {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .achievement .achievement__item .achievement__item__paragraph {
    font-size: 8px;
  }
}
@media (max-width: 450px) {
  .achievement .achievement__item {
    padding: 0px;
  }
}

.main__title__item_4 {
  margin: 90px 0 80px 0;
  opacity: 0;
}
.main__title__item_4 .main__title__h1__item_4 {
  text-align: center;
  margin: 0px;
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .main__title__item_4 {
    opacity: 1;
  }
}
@media (max-width: 450px) {
  .main__title__item_4 {
    margin: 50px 0 50px 0px;
  }
  .main__title__item_4 .main__title__h1__item_4 {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
  }
}
.main__title__line__item_4 {
  position: absolute;
  top: 1518px;
}
.main__title__line__item_4 .main__title__h1__line__item_4 {
  text-align: center;
  position: relative;
  font-size: 32px;
  font-weight: 700;
  transform: translateX(108%);
}
.main__title__line__item_4 .main__title__h1__line__item_4 .main__title__hr__line__item_4 {
  position: absolute;
  width: 860px;
  height: 15px;
  top: 10px;
  left: -900px;
  z-index: 1;
  margin: 0;
  border: none;
}
.main__title__line__item_4 .main__title__h1__line__item_4 .main__title__hr__line__item_4::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #5C2E03;
  top: 0;
  right: 0;
  z-index: 10;
  border-radius: 50%;
}
.main__title__line__item_4 .main__title__h1__line__item_4 .main__title__hr__line__item_4::after {
  background-color: #5C2E03;
  content: "";
  position: absolute;
  width: 860px;
  height: 4px;
  top: 5px;
  left: 0;
}
.main__title__line__item_4 .main__title__h1__line__item_4 .main__title__hr__line__item_5 {
  position: absolute;
  width: 860px;
  height: 15px;
  top: 10px;
  right: -900px;
  z-index: 1;
  margin: 0;
  border: none;
}
.main__title__line__item_4 .main__title__h1__line__item_4 .main__title__hr__line__item_5::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #5C2E03;
  top: 0;
  left: 0;
  z-index: 10;
  border-radius: 50%;
}
.main__title__line__item_4 .main__title__h1__line__item_4 .main__title__hr__line__item_5::after {
  background-color: #5C2E03;
  content: "";
  position: absolute;
  width: 860px;
  height: 4px;
  top: 5px;
  right: 0;
}

@media (max-width: 1199px) {
  .main__title__line__item_4 {
    display: none;
  }
}
.section__authorization {
  justify-content: center;
  max-width: 350px;
  width: 100%;
  margin: 40px auto 90px auto;
}
.section__authorization .authorization__form__1 input:focus,
.section__authorization .authorization__form__2 input:focus,
.section__authorization .authorization__form__3 input:focus {
  outline: none;
}
.section__authorization .authorization__form__1 input,
.section__authorization .authorization__form__2 input,
.section__authorization .authorization__form__3 input {
  max-width: 350px;
  width: 100%;
  font-family: "Roboto" !important;
  font-weight: 300;
  font-size: 16px;
  padding: 20px 0 10px 20px;
}
@media (max-width: 450px) {
  .section__authorization .authorization__form__1 input,
  .section__authorization .authorization__form__2 input,
  .section__authorization .authorization__form__3 input {
    font-size: 14px;
    padding: 8px 0 4px 10px;
  }
}
.section__authorization .authorization_hr {
  border: 1px solid black;
  width: 100%;
  margin: 0;
  background-color: #000000;
}
.section__authorization .authorization__button {
  width: 100%;
  height: 45px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 35px;
  background-color: #5C2E03;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Ermilov", serif;
}
@media (max-width: 450px) {
  .section__authorization .authorization__button {
    font-size: 14px;
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .section__authorization {
    width: 80%;
  }
}
.footer {
  padding: 40px;
  width: 100%;
  height: 290px;
  background-color: #000000;
  color: #ffffff;
  z-index: -5;
}
.footer .footer-container {
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.7fr 1.8fr;
  grid-template-rows: 1fr;
}
@media (max-width: 768px) {
  .footer .footer-container {
    grid-template-columns: 1fr 0.7fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media (max-width: 576px) {
  .footer .footer-container {
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
  }
}
.footer .footer__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
@media (max-width: 576px) {
  .footer .footer__title {
    font-size: 10px;
  }
}
.footer .footer__contact .contact {
  width: auto;
}
@media (max-width: 576px) {
  .footer .footer__contact .contact {
    width: 125px;
  }
}
.footer .footer__contact .contact__item-1 {
  display: grid;
  grid-template-columns: 0.15fr 0.3fr;
  grid-template-rows: 1fr;
}
.footer .footer__contact .contact__item-1 .img {
  width: 25px;
  height: auto;
}
.footer .footer__contact .contact__item-1 .item__text {
  font-family: "Roboto" !important;
  width: 150px;
  height: 20px;
  margin-left: 15px;
  grid-column: 2/3;
  line-height: 25px;
  font-size: 16px;
  font-weight: 300;
  color: #a8a8a8;
}
@media (max-width: 576px) {
  .footer .footer__contact .contact__item-1 .item__text {
    font-size: 9px;
    margin-bottom: 0;
  }
  .footer .footer__contact .contact__item-1 .img {
    width: 15px;
  }
}
.footer .footer__contact .contact__item-2 {
  display: flex;
  margin-top: 25px;
}
.footer .footer__contact .contact__item-2 .img {
  width: 25px;
  height: auto;
  margin: auto 0;
}
.footer .footer__contact .contact__item-2 .item__text {
  font-family: "Roboto" !important;
  margin-left: 15px;
  width: 200px;
  height: 20px;
  line-height: 28px;
  font-size: 16px;
  font-weight: 300;
  color: #a8a8a8;
}
@media (max-width: 576px) {
  .footer .footer__contact .contact__item-2 .item__text {
    font-size: 9px;
    margin-bottom: 0;
  }
  .footer .footer__contact .contact__item-2 .img {
    width: 15px;
  }
}
.footer .footer__contact .contact__item-3 {
  display: flex;
  margin-top: 14px;
}
.footer .footer__contact .contact__item-3 .img {
  width: 25px;
  height: auto;
  margin: auto 0;
}
.footer .footer__contact .contact__item-3 .item__text {
  font-family: "Roboto" !important;
  margin-left: 15px;
  width: 200px;
  height: 20px;
  line-height: 21px;
  font-size: 16px;
  font-weight: 300;
  color: #a8a8a8;
}
@media (max-width: 576px) {
  .footer .footer__contact .contact__item-3 .item__text {
    font-size: 9px;
    margin-bottom: 0;
    width: a;
  }
  .footer .footer__contact .contact__item-3 .img {
    width: 15px;
  }
}
.footer .navbar .nav__item {
  text-decoration: none;
  color: #a8a8a8;
}
.footer .navbar .nav__item .navbar__item {
  margin: 14px 0 14px 0;
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto" !important;
}
@media (max-width: 576px) {
  .footer .navbar .nav__item .navbar__item {
    margin: 0 0 10px 0;
    list-style-type: none;
    font-size: 10px;
    font-weight: 400;
  }
}
.footer .footer__social {
  margin-left: 20px;
  display: grid;
  grid-template-rows: 0.4fr 0.3fr 1fr;
  grid-template-columns: 0.8fr 1fr;
}
@media (max-width: 576px) {
  .footer .footer__social {
    margin-left: 10px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
.footer .social__image {
  display: flex;
  justify-content: space-between;
  max-width: 190px;
  width: 100%;
}
.footer .social__image .image__item {
  position: relative;
  margin: 10px;
  border-radius: 50%;
  text-decoration: none;
}
@media (max-width: 425px) {
  .footer .social__image .image__item {
    margin: 0;
  }
  .footer .social__image .image__item img {
    width: 15px;
    height: 15px;
  }
}
.footer .logo {
  justify-self: right;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 136px;
  height: 136px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .logo .img {
  margin: auto auto;
  width: 95px;
  height: 95px;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .footer .logo {
    margin-top: 20px;
    width: 80px;
    height: 80px;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
  }
  .footer .logo .img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 576px) {
  .footer {
    height: auto;
    padding: 10px;
  }
}
@media (max-width: 350px) {
  .footer {
    height: auto;
    padding: 3px;
  }
}/*# sourceMappingURL=style.css.map */